<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Engine</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Search Engine</h1>

    <form>
      <input type="text" name="question" id="question" />
      <input type="submit" value="Ask Me:))" />
    </form>

    <div class="loading"></div>

    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
    <div class="question">
      <div class="title"></div>
      <div class="url">
        <a href=""></a>
      </div>
      <div class="body"></div>
    </div>
  </body>
</html>

<script>
  const form = document.querySelector("form");
  const questionElement = form.question;

  const questions = document.querySelectorAll(".question");
  const titles = document.querySelectorAll(".title");
  const urls = document.querySelectorAll(".url");
  const quesBody = document.querySelectorAll(".body");
  const loadingDiv = document.querySelector(".loading");

  //   console.log(questions);
  //   console.log(titles);
  //   console.log(urls);
  //   console.log(quesBody);

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const question = questionElement.value;
    for (let i = 0; i < 5; i++) {
      titles[i].innerHTML = ``;
    }

    loadingDiv.innerHTML = `Loading...`;
    //fetch

    try {
      const res = await fetch(`/search?question=${question}`, {
        method: "GET",
      });
      const data = await res.json();

      loadingDiv.innerHTML = ``;

      for (let i = 0; i < 5; i++) {
        titles[i].innerHTML = `<h3>${data[i].title}</h3>`;
      }
    } catch (error) {
      alert(error);
    }
  });
</script>