<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
   <div class="blogs content">
    <h2>All Questions</h2>

     <% if (array.length > 0) { %>
      <% array.forEach(arr => { %>
        <h3 class="title"><%= arr.title %></h3>
        <a class="url" href="/page:${arr.index}"><%= arr.url %></a>
      <% }) %>
    <% } else { %>
      <p>There are no questions to display...</p>
    <% } %>
    
  </div>
</body>
</html>